<link rel="stylesheet" href="/css/_chat.css">

<aside id="chatbox">
    <div class="messageBox">
        <div class="message sender">
            <span class="msg-sender">Other Message</span>
        </div>
        <div class="message receiver">
            <span class="msg-receive">Self Message</span>
        </div>
    </div>
    <form action="">
        <input type="text" placeholder="Type message here..." />
        <button type="submit">Send</button>
    </form>
</aside>