<link rel="stylesheet" href="/css/_chat.css">

<% if(locals.user){ %>
    <aside id="chatbox"> <!-- id="user-chat-box"-->
        <ul class="messageBox"> <!--id="chat-messages-list "-->
            <li class="other-message">
                <span>Other Message</span>
            </li>
            <li class="self-message">
                <span>Self Message</span>
            </li>
        </ul>
        <form action="" id="chat-message-input-container">
            <input type="text" placeholder="Type message here..." id="chat-message-input"/>
            <button id="send-message" type="submit">Send</button>
        </form>
    </aside>

    <% } %>