<link rel="stylesheet" href="/css/_chat.css">

<% if(locals.user){ %>
    <aside id="chatbox"> <!-- id="user-chat-box"-->
        <ul class="messageBox" id="chat-messages-list">
            <!--<li class="other-message">
                <span>Other Message</span>
                <sub>abc@gmail.com</sub>
            </li>
            <li class="self-message">
                <span>Self Message</span>
                <sub>xyz@gmail.com</sub>
            </li> -->
        </ul>
        <div id="chat-message-input-container">
            <input type="text" placeholder="Type message here..." id="chat-message-input"/>
            <button id="send-message">Send</button>
        </div>
    </aside>

    <% } %>