<footer class="flex">
    <!-- Page Footer -->

    <p>&copy; Coding Ninjas, All Right Reserved</p>
    <ul class="flex">
        <li><a href="/">Home</a></li>

        <li>
            <% if(locals.user){ %>
               <p>
                <a href="/user/profile/<%= user.id %>">Profile</a>
            </p>
            <% } %>
        </li>
    </ul>
</footer>