<link rel="stylesheet" href="/css/forgot-password.css">
<div class="box">
    <div class="forgot-msg-box">
        <h1>Check Your Email</h1>
        <br>
        <p style="font-size: 1.2rem;">An email has been sent to
        <p class="email-link"><%= email %>
        </p>. Please check your email to reset your password.</p>
        <h3 style="padding-top: 1rem;">Thank You!</h3>
    </div>
</div>