<link rel="stylesheet" href="/css/forgot-password.css">

<div class="box">
    <div class="forgot-msg-box">
        <h1>Reset Password Error</h1>
        <p style="font-size: 1.2rem; padding: .5rem;">The provided reset password link is invalid or has already been
            used.
            <a href="/user/sign-in" class="back-2-login">Back to Login</a>
        </p>
        <h3>Thank You!</h3>
    </div>
</div>