<div class="box">
    <form action="/forgot-password" method="post" class="form">
        <h1>Find your Email</h1>
        <input type="email" name="email" placeholder="Your Email" required /><br>
        <input class="signBtn" type="submit" value="Submit">
    </form>
</div>