<form action="/forgotPassword/reset-password/<%= token %>" method="post">
    <h1>Welcome back</h1>
    <strong><a href="../gmail.com">
            <%= email %>
        </a></strong>
    <p>
        We were able to verify that it's you because you've signed in on this device before.
    </p>
    <p>
        You can update your password now if you've forgotten it.
    </p>

    <input type="password" name="newPassword" placeholder="New Password" required>
    <button><i class="fa-regular fa-eye"></i></button>

    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
    <button><i class="fa-regular fa-eye"></i></button>

    <input type="submit" value="Change Password">
</form>
</div>