<link rel="stylesheet" href="<%= assetPath('css/forgot-password.css') %>">


<div class="box">
    <form action="/forgotPassword/reset-password/<%= token %>" method="post" class="form">
        <h1>Welcome back</h1>
        <strong class="change-pswd-msg"><a href="../gmail.com" style="color: black;">
                <%= email %>
            </a></strong>
    <p class="change-pswd-msg">
        We were able to verify that it's you because you've signed in on this device before.
    </p>
    <p class="change-pswd-msg">
        You can update your password now if you've forgotten it.
    </p>

    <span>
        <input type="password" name="newPassword" placeholder="New Password" id="newPswd" required>
        <button onclick="togglePassword('newPswd')"><i class="fa-regular fa-eye-slash"></i></button>
    </span>
    
    <span>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" id="confirmPswd" required>
        <button onclick="togglePassword('confirmPswd')"><i class="fa-regular fa-eye-slash"></i></button>
    </span>

 

    <input class="signBtn" type="submit" value="Change Password">
</form>
</div>

<script src="<%= assetPath('js/pswd-hideShow-toggler.js') %>"></script>