<link rel="stylesheet" href="/css/forgot-password.css">

<div class="box">
    <div class="forgot-msg-box">
        <h1>Password Changed</h1>
        <p>Your password has been successfully changed.
            <a href="/user/sign-in" class="back-2-login">Back to Login</a>
        </p>
        <h3>Thank You!</h3>
    </div>
</div>