<link rel="stylesheet" href="/css/user_sign_in.css">

<div class="box">

    <form action="/user/create-session" class="form" method="POST">
        <h1>User | Sign In</h1>
        <input type="email" required placeholder="Email" name="email">

        <span class="pswdBox">
            <input type="password" name="password" placeholder="Password" id="signInPswd" required />
            <button onclick="togglePassword('signInPswd')"><i class="fa-regular fa-eye-slash"></i></button>
        </span>
        
        <p class="forgotPswd">
            <a href="/forgotPassword/forgot-password">Forgot Password?</a>
        </p>
        <input class="signBtn" type="submit" value="Sign In">
        <div class="flex">
            <div class="google-icon">
                <img width="25" height="25" src="https://img.icons8.com/color/25/google-logo.png" alt="google-logo" />
            </div>
            <a class="google-link" href="/user/auth/google">Sign In with Google</a>
        </div>
        
    </form>
    

</div>

<script src="/js/pswd-hideShow-toggler.js"></script>