#chatbox {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: white;
    border: 2px solid gray;
    box-sizing: border-box;
    border-radius: .2rem;
    width: 15rem;
    height: 15rem;
    overflow-y: auto;
}

#chatbox .messageBox {
    padding: 1rem;
    height: 90%;
    overflow-x: hidden;
}

.messageBox li {
    padding: 0;
    margin-bottom: 10px;
    /* border: 2px solid brown; */
    width: 60%;
    font-weight: bold;
    height: fit-content;
    font-size: 1rem;
    position: relative;

}

.messageBox span {
    padding: .5rem;
    width: 100%;
    display: block;
    border-radius: .3rem;
}

.other-message{
    float: left;
}

.other-message span{
    background-color: rgb(236, 149, 152);
}

.self-message {
    float: right;
}

.self-message span{
    background-color: rgb(134, 197, 243);
}

.messageBox li sub {
    float: right;
    color: rgba(97, 97, 97, 0.838);
    background-color: white;
}

#chatbox div {
    position:fixed;
    bottom: 40px;
}

#chatbox input {
    width: 78%;
    padding: .2rem;
    outline: none;
}

#chatbox button {
    padding: .2rem .3rem;
    background-color: rgb(54, 240, 54);
    color: white;
    font-weight: bold;
    outline: none;
}