.add-friend-btn,
    .remove-friend{
    background-color: rgb(249, 92, 6);
    color: white;
    font-size: .8rem;
    font-weight: bold;
    padding: .4rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: .2rem;
}

#user-friends ul {
    font-weight: bold;
    overflow: auto;
}

#user-friends li {
    border: 2px solid orangered;
    height: 20%;
    padding: .3rem 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#user-friends img {
    border: 2px solid green;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

#user-friends a {
    color: black;
    font-size: .8rem;

}