/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    padding: .5rem 1rem;
    width: 100vw;
    color: white;
    background-color: rgb(36, 3, 126);
    font-weight: bold;
    /* margin: 1rem 0; */
}

header h1 {
    padding: 0 1rem;
}