/* forgot_change-password */

.form span {
    margin: .5rem;
    width: 90%;
    border-radius: .2rem;
    outline: none;
    border: 1px solid rgba(167, 167, 167, 0.678);
}

.form span input {
    width: 80%;
    border: none;
    outline: none;
}

.form span button {
    width: 10%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    cursor: pointer;
}

/* forgot_password-changed */
.change-pswd-msg {
    /* border: 2px solid green; */
    padding: .3rem 1rem;
    font-size: 1.1rem;
    text-align: center;
}


/* common */
.back-2-login {
    color: rgb(36, 3, 126);
    font-weight: bold;
    padding: .3rem 0;
    font-size: 1.1rem;
}

.back-2-login:hover {
    text-decoration: underline;
}

.forgot-msg-box {
    border: 2px solid green;
    text-align: center;
    width: 50%;
    background-color: white;
    padding: 1rem;
    box-shadow: 10px 10px 10px 5px rgb(164, 164, 164);
}