body{
    background-color: rgb(219, 227, 230);
}

.forgotPswd {
    width: 100%;
    /* border: 2px solid green; */
    text-align: right;
    font-weight: bold;
    padding-right: 1rem;
}

.forgotPswd a {
    color: rgb(36, 3, 126);
}

.forgotPswd a:hover {
    text-decoration: underline;
    background-color: palevioletred;
}


.pswdBox {
    display: flex;
    align-items: center;
    margin: 0.6rem;
    /* padding: 0.5rem; */
    width: 90%;
    border-radius: 0.2rem;
    outline: none;
    border: 1px solid rgba(167, 167, 167, 0.678);
}

.pswdBox input {
    margin: 0;
    border: none;
}

.pswdBox button {
    height: fit-content;
    border: none;
    background-color: white;
}

.pswdBox button i {
    color: rgba(148, 148, 148, 0.678);
}